body {
	background-image: url("https://i.pinimg.com/originals/97/86/ec/9786ec883756c755df35a331ff902f3b.png");
}
.btn {
	margin-right: 10px;
}

form, input {
	margin-right: 10px;
}

#tv-input {
	margin-top: 20px;
	margin-bottom: 10px;
}
img {
	margin: 10px;
	float: left;
	width: 250px;
	height: 175px;

}
#gifPanel {
	border: solid lightgreen 2px;
}
#jumbo {
	background-color: black;
	border: none;
}
#text {
	color: black;
	text-shadow: lightgreen 2px 2px;
}
#panelBody {
	background-color: black;
	border: 0;
	box-shadow: none;
	border-bottom: solid lightgreen 5px;
}
#rating {
	margin: 10px;
	color: lightgreen;
}
#tvView {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	padding: 25px 0 50px;
	justify-content: space-around;
	align-content: flex-start;
}