body {
	background-image: url("https://i.pinimg.com/originals/94/a4/4e/94a44e36e36278d416c029ad1a4449ea.jpg");
}
.btn {
	margin-right: 10px;
}

form, input {
	margin-right: 10px;
}

#tv-input {
	margin-top: 20px;
	margin-bottom: 10px;
}
img {
	margin: 10px;

}
#gifPanel {
	border: solid lightgreen 2px;
}
#jumbo {
	background-color: black;
	border: none;
}
#text {
	color: black;
	text-shadow: lightgreen 2px 2px;
}
#panelBody {
	background-color: black;
	border: 0;
	box-shadow: none;
	border-bottom: solid lightgreen 5px;
}
#rating {
	margin: 10px;
	color: lightgreen;
}
#tvView {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	padding: 25px 0 50px;
	justify-content: space-around;
	align-content: flex-start;
}